<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, message in messages %}
    <div class="flashes alert alert-{{category}}">{{ message }}</div>
    {% endfor %}

    {% else %}
    <div class="flashes alert alert-primary">
      Please provide username and password to login
    </div>
    {% endif %}
    {% endwith %}

    {%if form.errors %}
    <div class="alert alert-danger">
      {% for field, errors in form.errors.items() %}
      {{field}} {% for error in errors %}{{ error }}{% endfor %}
      {% endfor %}
    </div>
    {% endif %}

    <form action="{{ url_for('simplelogin.login') }}" method="post">
      <div class="form-group">
        {{ form.csrf_token }}
        {{form.username.label}}<div class="form-control">{{ form.username }}</div><br>
        {{form.password.label}}<div class="form-control"> {{ form.password }}</div><br>
        {% if next %}<input type="hidden" name="next" value="{{next}}">{% endif %}
        <input type="submit" value="Send">
    </form>
  </div>
</body>

</html>
